@model MScBank.ViewModels.NewAccountViewModel
@{
    ViewBag.Title = "DebitAccountForm";
}

<h2>Open new Savings Account</h2>
<br />
<p>A current account is for day to day use where your salary normally goes into this account and your bills and shoppings come off it.</p>
<p>A savings account is for saving purposes where you can earn interest on your average balance. Current Savings rate is 1%</p>
<br />
<p>Please enter an opening balance: </p>


@using (Html.BeginForm("CreateSavingsAccount", "NewAccount")) {

    <div class="form-group">
        @Html.LabelFor(m => m.Account.Balance)
        @Html.TextBoxFor(m => m.Account.Balance, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary" type="submit">Open</button>
}