@{
    ViewBag.Title = "About";
}

<h1>Mounty Shire Community Bank Plc</h1>
<br />
<p>The bank was founded to make banks a better place and to improve customer service and service quality.</p>

<img src="~/Content/Pics/AboutUsPic.jpg" class="img-responsive" width="300" />
