@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MSc Way<br />
    Rgutopia, RG30 1M<br />
    <abbr title="Phone">P:</abbr>
    0044765432112
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@support.com</a><br />
</address>