@model MScBank.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<div>
    <h1 class="center-block">WELCOME @Model.FullName</h1>

    <div class="col-mid-6" style="background-color : aqua">
        <div>
            <p>@Html.ActionLink("My Accounts", "Index", "NewAccount", null, new { @class = "btn btn-primary btn-lg addMargin" })</p>
            <p>@Html.ActionLink("Apply for new a account", "Index", "NewAccount", null, new { @class = "btn btn-primary btn-lg addMargin" })</p>
        </div>
    </div>
    <div class="col-mid-6" style="background-color : Orange">
        <div>
            <img src="~/Content/Pics/LoggedINIndexPic.jpg" class="img-responsive img-rounded center-block" />
        </div>
    </div> 
</div>
       


