@model MScBank.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h1 class="center-block">@Model.FullName</h1>
</div>

<div class="row">
    <div class="col-mid-5">
                <a href="#" class="btn btn-primary btn-lg btn-block addMargin">My Accounts</a>
                <a href="#" class="btn btn-primary btn-lg btn-block addMargin">Apply for new account</a>
    </div>        
    <div class="col-mid-2">
        <img src="~/Content/Pics/LoggedINIndexPic.jpg" class="img-responsive img-rounded"/>
    </div>
    
</div>

