@model MScBank.ViewModels.ATMLoggedInViewModel
@{
    ViewBag.Title = "LoggedIn";
}

<h2 class="text-success">You are now Logged in to your Online ATM! WELCOME!</h2>
<br />
<div class="col-md-2 bordered-box">
    1       
</div>
<div class="col-md-8 bordered-box">
    2
</div>
<div class="col-md-2 bordered-box">
    3
</div>
